<nav>
    <a asp-action="Index" asp-controller="Delicious">Chefs</a>
    <a asp-action="Dishes" asp-controller="Delicious">Dishes</a>
    <a asp-action="New" asp-controller="ChefDelicious">Add a Chef</a>
    <a asp-action="New" asp-controller="Delicious">Add a Dish</a>
</nav>